{% extends 'home/layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'home/about.css' %}">
{% endblock %}

{% block content %}

<div class="jumbotron-fluid">
    <div class="container-fluid">
        <div id="row1" class="row">
            <h1>About Us</h1>
        </div>
        <div id="row2" class="row">
            <div class="col-md-8">
                <p>Pray Hard Racing is operated by Doris and Mark Knarr along with their son Jake Knarr who recognized years ago that there were many children in their area that would benefit from being part of a team like theirs. While giving kids an opportunity to peruse their passion for racing, the Knarrs could act as responsible role models, and teach the kids the importance of team work and responsibility.</p>
                <br>
                <p>The race team will have 9 Junior Dragsters competing this year at various tracks in the Northeast, with Maple Grove being the team's home track.</p>
                <br>
                <p>Junior dragsters are custom built dragsters built just for kids, and powered by small, single piston engines. Children compete against each other on actual race tracks, but in a much slower and safer form.</p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/900x600"></img>
            </div>
        </div>
        <div id="row3" class="row">
            <div class="col-md-4">
                <img src="http://placehold.it/900x600">
            </div>
            <div class="col-md-8">
                <p>Mark and Doris started out in 2001 racing Junior Dragsters with their own kids, but they soon discovered that a lot of kids really wanted to race, but their parents didn't have the ability or means to put a car on the track.  Many of these kids came from single parent homes or from situations where there is only minimal adult mentoring.</p>
                <br>
                <p>Although the Knarrs had only a modest amount of personal income, they decided to follow their heart, (and the teaching of the Bible), and help as many kids as possible.  </p>
                <br>
                <p>And through their hard work and prayer, every year they have been able to be a positive influence with more and more children.</p>
            </div>
        </div>
        <div id="row4" class="row">
            <div class="col-md-8">
                <p>Pray Hard Racing is not a non-profit or charity organization, but a large race team dedicated to helping kids. Besides taking money out of their own pocket every week, the Knarr's manage by searching out sponsors.</p>
                <br>
                <p>Both individuals and companies can help the team keep kids on the track, and off the streets.  Every race weekend it costs a lot to just get all of the kids to the track, feed them, and pay for their pit fees, so financial sponsorship is always welcome.</p>
                <br>
                <p>But help can also come in the way of parts, oil, or even food for the crew.</p>
                <br>
                <p>If you would like to join a team dedicated to helping kids win in life, we can be reached on our contact page.</p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/900x600"></img>
            </div>
        </div>
    </div>
</div>

{% endblock %}
