.row {
	padding-top: 20px;
}

.navbar-brand {
	padding-right: 20px;
}

.nav-item {
	padding-left: 20px;
}

.col-md-4 {
	text-align: center;
}

.jumbotron-fluid {
	height: auto;
}

img {
	height: 30vw;
}

#row1 {
	background-color: #DDDDDD;
}

#news {
	padding: 2% 0px 2% 5%;
}

#footer p {
	padding-left: 3%;
}

/*	TEST MODIFIERS	*/

#test1 {
	padding: 20pt 30pt 30pt 50pt;
}

#test2 {
	/*background-color: #0000ff;*/
	padding-left: 30pt;
	padding-right: 30pt;
	padding-bottom: 20pt;
	padding-top: 20pt;
	text-align: center;
}

#test2 p {
	padding-top: 10%;
}

#test3 {
	padding-left: 30pt;
	padding-right: 30pt;
	padding-bottom: 20pt;
	padding-top: 20pt;
	text-align: center;
}
